body{
	background-color: white ;
	font-family: Arial;

}
.navbar{
	position : fixed ;
	z-index: 1;
	display: inline-block;
	background-color: black;
	width: 100%;
	top: 0;
	margin: 0;
}
.navbar a img{
	display: inline-block;
	border-radius: 50%;
	padding-left: 5%;

}
.navbar a img:hover{
	background-color: #cc9966;
}

.cvpage{
	position: relative;
	margin: 5%;
}
.cvpage span{
	font-family: Fantasy;
	font-size: 30pt;
	color :#999966;

}
.cvpage p{
	padding: 2px;
	font-family: Arial;
	font-size: 14pt;
	color:black;
}
.cvpage table tr th{
	font-family: Cursive;
	text-align: center;
	color: red;
}
.cvpage table tr td{
	font-family: Arial;
	text-align: left;
	color: black;
}